<html>
<head>
    <link rel="stylesheet" href="/static/template/css/style.css">
</head>
<body>
<div id="header" style="height: 61px;"></div>
<div class="header margin-bot">  Pipelines: </div>
<div class="container flex-col">
    {{range $pipeline := .}}
    <div class="margin-bot">
        <div class="header">  {{ .Changes.PipelineName }} </div>

        <div class="par">
            Board <a class="link" href="/pipelines/{{ .Changes.PipelineName }}/server_stats"> {{ .Changes.PipelineName }}</a>. JSON format: <a class="link" href="/pipelines/{{ .Changes.PipelineName }}/server_stats_json"> {{ .Changes.PipelineName }}</a>
            <p> View <a class="link" href="/pipelines/{{ .Changes.PipelineName }}">streams and events</a></p>
        </div>
        <div class="row-wrapper border-tiny">
            <div class="row">
                <div class="par">interval: {{ .Changes.Interval }}</div>
                <div class="par">active procs: {{ .Changes.ActiveProcs }} | {{ .Changes.ProcsCount }}</div>
                <div class="par">events in use: {{ .Changes.InUseEvents }} | {{ .Changes.EventsCapacity }}</div>
                <div class="par">out: {{ .Changes.DeltaInputEvents }} | {{ printf "%.1f" .Changes.DeltaInputSize }}MB</div>
                <div class="par">rate: {{ .Changes.Rate }}/s | {{ printf "%.1f" .Changes.RateMB }}MB/s</div>
                <div class="par">read ops: {{ .Changes.ReadOps }} </div>
                <div class="par">total: {{ .Changes.InputEvents }} | {{ printf "%.1f" .Changes.InputTotalSize }}MB</div>
                <div class="par">avg event size: {{ .Changes.AvgEventSize }} </div>
                <div class="par">max event size: {{ .Changes.MaxEventSize }} </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
<script src="/static/template/js/header.js" ></script>
</body>
</html>