body {
    color: white;
    background: rgb(17, 18, 23);
    padding: 20px;
    font-size: 1rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.flex-col {
    flex-direction: column;
}

.row {
    width: 100%;
    padding: 20px;
    background: #191b1f;
}

.inner-row {
    background: #282b30;
    padding: 10px;

}

.border {
    border: 2px solid #65676d;
    border-radius: 3px;
}

.border-tiny {
    border: 1px solid #404144;
    border-radius: 1px;
}

.with-bottom-margin {
    margin: 0 0 15px;
}

.par {
    margin: 0 0 5px 0
}

.statuses {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
}

.status {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 20px;
    padding: 0 0 10px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container-inner {
    width: 45%;
}

.row-wrapper {
    display: flex;
    border: 1px solid #404144;
    border-radius: 1px;
    margin: 0 0 20px 0;
}

.logo-wrapper {
    max-width: 150px;;
}

.logo {
    max-width: 100%;
}

.link {
    color: #0d8bf0
}

.col {
    flex-direction: column;
}

.margin-bot {
    margin: 0 0 30px;
}