[Unit]
Description=File.d

[Service]
ExecStart=/usr/bin/file.d --config /etc/file.d/config.yaml
Restart=on-failure
MemoryAccounting=true
MemoryHigh=1536M
MemoryMax=2G

[Install]
WantedBy=multi-user.target
