pipelines:
  file_loki:
    input:
      type: file
      persistence_mode: async
      watching_dir: SOME_DIR
      offsets_file: SOME_FILE
      offsets_op: reset
    output:
      type: loki 
      address: http://localhost:3100
      message_field: message
      timestamp_field: timestamp 
      labels: 
        - label: label1
          value: value1
        - label: a
          value: "1"
        - label: b
          value: "2"
      auth:
        strategy: disabled
